<%- include('../layout/header.ejs') %>
    <main id="main-wrapper" class="main-wrapper">
        <%- include('../layout/navbar.ejs') %> <%- include('../layout/sidebar.ejs') %>
                <div id="app-content">

                    <!-- Container fluid -->
                    <div class="app-content-area">
                        <div class="container-fluid">
                            <!-- content -->
                            <div>
                                <!-- row -->
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-5">
                                        <!-- card -->
                                        <div class="card h-100">
                                            <!-- card body -->
                                            <div class="card-header">
                                                <h4 class="mb-0">Update Admin</h4>
                                            </div>
                                            <div class="card-body">
                                                <!-- card title -->

                                                <form id="updateAdminForm">
                                                    <!-- row -->
                                                    <div class="row">
                                                        <div class="col-6 mb-5">
                                                            <h5 class="text-uppercase">First Name</h5>
                                                            <p class="mb-0">
                                                                <input type="text" name="firstname" class="form-control"
                                                                    value="<%= admin.firstname %>">
                                                            </p>
                                                        </div>
                                                        <div class="col-6 mb-5">
                                                            <h5 class="text-uppercase">Last Name</h5>
                                                            <p class="mb-0">
                                                                <input type="text" name="lastname" class="form-control"
                                                                    value="<%= admin.lastname %>">
                                                            </p>
                                                        </div>
                                                        <div class="col-12 mb-5">
                                                            <h5 class="text-uppercase">Email</h5>
                                                            <p class="mb-0">
                                                                <input type="text" name="email" class="form-control"
                                                                    value="<%= admin.email %>">
                                                            </p>
                                                        </div>
                                                        <div class="col-12 mb-6">
                                                            <h5 class="text-uppercase">
                                                                Image
                                                            </h5>
                                                            <p class="mb-0">
                                                                <img src="<%=  admin.profilePic[0].url  %> "
                                                                    height="250" width="250" />
                                                            </p>
                                                        </div>
                                                        <div class="col-12 mb-5 ">
                                                            <h5 class="text-uppercase">
                                                                Upload New
                                                            </h5>
                                                            <p class="mb-0">
                                                            <div class="col-12 mb-3">
                                                                <div id="myDropzone" class="dropzone">
                                                                    <div class="dz-message">
                                                                        Drop files here or click to upload
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            </p>
                                                            <input type="hidden"
                                                                value="<%= admin.profilePic[0].public_id %>"
                                                                name="public_id" id="public_id">
                                                            <input type="hidden" value="<%= admin.profilePic[0].url %>"
                                                                name="url" id="url">

                                                        </div>
                                                        <div class="col-12 mb-6">
                                                            <button class="btn btn-primary"> Update Admin </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </main>
    <%- include('../layout/footer.ejs') %>
        <!--Profile Uploading Start-->
        <script>
            const Token = localStorage.getItem("token");
            const AuthToken = Token.slice(1, -1);
            Dropzone.autoDiscover = false; // Prevent Dropzone from auto-initializing
            const myDropzone = new Dropzone("#myDropzone", {
                url: "/adminhandle/profile-upload",
                maxFiles: 1, // URL where files will be uploaded
                method: "post",
                maxFilesize: 2, // Maximum file size in MB
                acceptedFiles: "image/*", // Only allow image files
                addRemoveLinks: true, // Add remove links to each file preview
                paramName: "file", // Change the parameter name for the file
                headers: {
                    Authorization: `Bearer ${AuthToken}`, // Authorization header
                },
                success: function (file, response) {
                    document.getElementById("public_id").value = response.data.public_id;
                    document.getElementById("url").value = response.data.url;
                },
                error: function (file, response) {
                    console.error("Error uploading file:", response);
                },
                init: function () {
                    this.on("addedfile", function (file) {
                        if (this.files.length > 1) {
                            this.removeFile(this.files[0]);
                        }
                        document.getElementById("public_id").value = "";
                        document.getElementById("url").value = "";
                    });
                    // Bind the removedfile event
                    this.on("removedfile", function (file) {

                        handleFileRemoval();
                    });

                    function remove() {
                        this.on("removedfile", function (file) {
                        });
                    }
                },
            });
            function handleFileRemoval() {
                const public_id = document.getElementById("public_id").value;
                $.ajax({
                    url: "/adminhandle/delete-temp-profile",
                    type: "POST",
                    headers: {
                        Authorization: `Bearer ${AuthToken}`, // Authorization header
                    },
                    data: {
                        public_id: public_id,
                    },
                    success: function (response) {
                        if (response.success) {
                            iziToast.success({
                                title: "Success",
                                message: response.message,
                                position: "topRight", // Position of the toast
                                timeout: 3000, // Duration in milliseconds
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        if (xhr.responseJSON && xhr.responseJSON.message) {
                            iziToast.error({
                                title: "Error",
                                message: xhr.responseJSON.message,
                                position: "topRight", // Position of the toast
                                timeout: 3000, // Duration in milliseconds
                            });
                        } else {
                            iziToast.error({
                                title: "Error",
                                message: "Internal Server Error",
                                position: "topRight", // Position of the toast
                                timeout: 3000, // Duration in milliseconds
                            });
                        }
                    },
                });
            }

        </script>
        <script>
            $(document).ready(function () {

                const Token = localStorage.getItem("token");
                const AuthToken = Token.slice(1, -1);
                //Update Admin Logic 
                $("#updateAdminForm").validate({
                    rules: {
                        firstname: {
                            required: true
                        },
                        lastname: {
                            required: true
                        },
                        email: {
                            required: true
                        }
                    }
                });

                //Submit Form 
                $("#updateAdminForm").on("submit", function (event) {
                    event.preventDefault();
                    const formData = $(this).serializeArray();
                    //Validation 
                    if (formData[3].value == "" || formData[4].value == "") {
                        return iziToast.error({
                            title: "Error",
                            message: "Image is uploading please wait",
                            position: "topRight", // Position of the toast
                            timeout: 3000, // Duration in milliseconds
                        });
                    }
                    let url = window.location.href;
                    let id = url.split('/').pop();
                    if ($(this).valid()) {
                        $.ajax({
                            url: `/adminhandle/update-admin/${id}`,
                            type: "POST",
                            headers: {
                                Authorization: `Bearer ${AuthToken}`
                            },
                            data: formData,
                            success: function (response) {
                                if (response.success) {
                                    iziToast.success({
                                        title: "Success",
                                        message: response.message,
                                        position: "topRight", // Position of the toast
                                        timeout: 3000, // Duration in milliseconds
                                    });
                                }
                                setTimeout(() => {
                                    window.location.href = "/adminhandle/manage-admin-page"
                                }, 3000);
                            },
                            error: function (xhr, status, error) {
                                if (xhr.responseJSON && xhr.responseJSON.message) {
                                    iziToast.error({
                                        title: "error",
                                        message: xhr.responseJSON.message,
                                        position: "topRight", // Position of the toast
                                        timeout: 3000, // Duration in milliseconds
                                    });
                                } else {
                                    iziToast.error({
                                        title: "error",
                                        message: "Somenthing Went Wrong",
                                        position: "topRight", // Position of the toast
                                        timeout: 3000, // Duration in milliseconds
                                    });
                                }
                            }
                        })
                    } else {
                        alert("Form Submisssion Error")
                    }
                })


            })
        </script>
        <!--Profile Uploading End -->
        <%- include('../layout/end.ejs') %>