<%- include('../layout/header.ejs') %>
  <main id="main-wrapper" class="main-wrapper">
    <%- include('../layout/navbar.ejs') %> <%- include('../layout/sidebar.ejs') %>
        <div id="app-content">
          <!-- Container fluid -->
          <div class="app-content-area">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                  <!-- Page header -->
                  <div class="mb-5">
                    <h3 class="mb-0">Admin</h3>
                  </div>
                </div>
              </div>
              <div>
                <!-- row -->
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header d-md-flex border-bottom-0">
                        <div class="flex-grow-1">
                          <a href="/adminhandle/addadminpage" class="btn btn-primary">+ Add Admin</a>
                        </div>
                        <div class="mt-3 mt-md-0">
                          <a href="" class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip"
                            data-template="settingOne">
                            <i data-feather="settings" class="icon-xs"></i>
                            <div id="settingOne" class="d-none">
                              <span>Setting</span>
                            </div>
                          </a>


                          <!-- Export Dropdown (Optional) -->
                          <div class="dropdown d-inline">
                            <a href="#!" class="btn btn-outline-white ms-2" type="button" id="dropdownMenuButton2"
                              data-bs-toggle="dropdown" aria-expanded="false">
                              Import
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                              <li><a class="dropdown-item" href="#">CSV File</a></li>
                              <!-- You can add more export options here -->
                            </ul>
                          </div>
                          <div class="dropdown d-inline">
                            <a href="#!" class="btn btn-outline-white ms-2" type="button" id="dropdownMenuButton2"
                              data-bs-toggle="dropdown" aria-expanded="false">
                              Export
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                              <li><a class="dropdown-item" href="#" id="csvExport">CSV </a></li>
                              <li><a class="dropdown-item" href="#" id="pdfExport">PDF </a></li>
                              <!-- You can add more export options here -->
                            </ul>
                          </div>

                        </div>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive table-card">
                          <table id="admintable" class="table text-nowrap table-centered mt-0" style="width: 100%">
                            <thead>
                              <tr>
                                <th> Profile</th>
                                <th>Name</th>
                                <th> Email </th>
                                <th> Action </th>
                              </tr>
                            </thead>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  </main>

  <%- include('../layout/footer.ejs') %>
    <script>
      $(document).ready(function () {
        const Token = localStorage.getItem("token");
        const AuthToken = Token ? Token.slice(1, -1) : '';

        const adminTable = $("#admintable").DataTable({
          "processing": true,
          "serverSide": true,
          "ajax": {
            "url": "/adminhandle/getadmins",
            "type": "GET",
            headers: { 'Authorization': `Bearer ${AuthToken}` },
          },
          "columns": [
            {
              "data": null,
              "render": function (data, type, row) {
                const profilePic = row.profilePic && row.profilePic.length > 0 ? row.profilePic[0] : {};
                const imgUrl = profilePic.url ? profilePic.url : '';
                return `  <div class="avatar avatar-md  avatar-online">
                     <img alt="avatar" src="${imgUrl}" class="rounded-circle" />
                     </div>`;
              }
            },
            {
              "data": null,
              "render": function (data, type, row) {
                return `${row.firstname} ${row.lastname}`;
              }
            },
            {
              "data": "email"
            },
            {
              "data": null,
              "render": function (data, type, row) {
                return `
                            <a href="/adminhandle/preview-admin-page/${row._id}" class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip" data-template="eyeOne">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <div id="eyeOne" class="d-none"><span>View</span></div>
                            </a>
                            <a href="/adminhandle/edit-admin-page/${row._id}" class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip" data-template="eyeOne">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                <div id="eyeOne" class="d-none"><span>Update</span></div>
                            </a>
                            <a href="" id="deleteBtn" data-id="${row._id}" class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip" data-template="trashOne">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                <div id="trashOne" class="d-none"><span>Delete</span></div>
                            </a>`;
              }
            }
          ]
        });

        //Export Data in CSV File 
        $("#csvExport").on("click", function () {
          var data = [];
          adminTable.rows().every(function () {
            data.push(this.data())
          });

          if (data.length === 0) {
            iziToast.error({
              title: "Error",
              message: "No Data Found",
              position: "topRight",
              timeout: 3000
            });
            return;
          }

          const object = data.map((value, index) => [index, value]); // Convert to key-value pairs
          const finalObject = Object.fromEntries(object);

          $.ajax({
            url: "/adminhandle/export-csv",
            type: "POST",
            data: finalObject,
            success: function (response) {
              const blob = new Blob([response], { type: 'text/csv' });
              const link = document.createElement('a');
              link.href = URL.createObjectURL(blob);
              link.download = 'my.csv';  // The name of the downloaded file
              link.click();  // Trigger the download
            },
            error: function (xhr, status, error) {
              if (xhr.responseJSON && xhr.responseJSON.message) {
                iziToast.error({
                  title: "Error",
                  message: xhr.responseJSON.message,
                  position: "topRight",
                  timeout: 3000
                });
              } else {
                iziToast.error({
                  title: "Error",
                  message: "Error in CSV File Generates",
                  position: "topRight",
                  timeout: 3000
                });
              }
            }
          })

        })

        //Export Data in PDF File
        $("#pdfExport").on("click", function () {
          var data = [];
          adminTable.rows().every(function () {
            data.push(this.data());
          });

          if (data.length == 0) {
            iziToast.error({
              title: "Error",
              message: "Data is required...",
              position: "topRight",
              timeout: 3000
            });
            return; // Exit early if no data
          }

          // Convert the data to an object format
          const object = data.map((value, index) => [index, value]);
          const finalObject = Object.fromEntries(object);

          // AJAX request to generate and download the PDF
          $.ajax({
            url: "/adminhandle/export-pdf", // Make sure this URL is correct
            type: "POST",
            data: finalObject,
            xhrFields: {
              responseType: 'arraybuffer' // Ensures binary response handling
            },
            success: function (response) {
              // Create a Blob from the binary data
              const blob = new Blob([response], { type: 'application/pdf' });

              // Create a download link
              const link = document.createElement('a');
              const url = window.URL.createObjectURL(blob);

              link.href = url;
              link.download = 'users.pdf'; // Suggested file name
              link.click(); // Trigger the download
            },
            error: function (xhr, status, error) {
              console.log('Error:', error);
              iziToast.error({
                title: "Error",
                message: "Failed to generate PDF.",
                position: "topRight",
                timeout: 3000
              });
            }
          });
        });

        $(document).on("click", "#deleteBtn", function (event) {
          event.preventDefault();
          const id = $(this).data("id");
          if (!id) {
            iziToast.error({
              title: "Error",
              message: "ID is required",
              position: "topRight",
              timeout: 3000
            });
            return;
          }
          $.ajax({
            url: `/adminhandle/delete-admin/${id}`,
            type: "DELETE",
            headers: { "Authorization": `Bearer ${AuthToken}` },
            success: function (response) {
              if (response.success) {
                iziToast.success({
                  title: "Success",
                  message: response.message,
                  position: "topRight",
                  timeout: 3000
                });
                adminTable.ajax.reload();
              }
            },
            error: function (xhr) {
              const message = xhr.responseJSON && xhr.responseJSON.message ? xhr.responseJSON.message : "Internal Server Error";
              iziToast.error({
                title: "Error",
                message: message,
                position: "topRight",
                timeout: 3000
              });
            }
          });
        });
      });



    </script>
    <%- include('../layout/end.ejs') %>